* {
    margin: 0%;
    padding: 0%;
}
/* sets muticolord background and max width 1080px*/
body {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #553030 0%, #414e7c 50%, #553030 100%);
    max-width: 1080px; 
    margin: 0 auto;
    
}
/* centers header */
header {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 140px;
}

/* centers header */
.box {
    display: flex;
    justify-content: center;
}

.box h1 {
    color: rgb(62, 115, 133);
    background: none;
    font-size: 50px;
    margin-top: 20px;
    height: 70px; 
}

/* keeps nav bar flex and positioned */
.navigation {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    background: none;
    padding-right: 10px;
    height: 40px;
}

/* sets color of nav block */
.navigation a { 
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 5px;
    color: rgb(62, 115, 133);
}
/* sets hover effect and shadow */
.navigation a:hover {
    background: none;
    color: #f4f5f8;
    box-shadow: 0 4px 8px black;
}

/* sets main img to flex and center */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 100px;
    flex: 1;
}
.hero h4{
    position: absolute;
    color: aliceblue;
    font-size: large;
     
}
/* flexs link atatched to main img */
.hero a{
    display: flex;
    min-width: 0;
    min-height: 0;
    max-height: fit-content;
    max-width: 600px;
}
/* sets up under glow  */
.glow {
    display: flex;
    min-width: 0 ;
    min-height: 0 ;
    max-width: 600px;
    max-height: 530px; 
}
 /* sets glow to activate on hover */
 .glow:hover {
    color: #6284FF;
    box-shadow: 0 4px 8px black;
}

/* positions about section */
.about-block {
    align-items: flex-end;
    justify-content: flex-end; 
    margin-right: 20px;
    padding: 20px;
    float: right;
    clear: both;
    height: 200px;
    width: 25%;
}

/* positions header */
.about-block h2 {
    align-items: flex-start;
    flex: 1;
    height: 30px;
    max-height: 250px;
    min-width: 0px;
    color: rgb(62, 115, 133);
    margin: 0% 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

/* adjustable colors and positoing for p block in about  */
.about-block p {
    border: 5px none;
    height: 50%;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
}

/* color of list */
.about-block li{
    color: rgb(62, 115, 133);
}

/* color of link in list */
.about-block a{
    color: rgb(62, 115, 133);
}
/* flex and position of aside img */
#self-port {
    background: black;
    margin-right: 0px;
    min-width: 0 ;
    min-height: 0 ;
    overflow: hidden;
    flex: 1;
    max-width: 100%;    
}

/* sets flex, row, padding, max, min width for project block */
.project-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    min-width: 0;
    max-width: 75%;
} 

/* sets project titals to bottom left posiotion */
.bot-left {
    position: relative;
    color: aliceblue;
}

/* keeps img from over growing */
.pic-1 {
    flex-flow: row wrap;
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
    margin: 5px 10px;
    
}
/* keeps link from over growing */
.pic-1 a{
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
}

/* sets hover effect to img */
.pic-1:hover {
    color: #6284FF;
    box-shadow: 0 4px 8px black;
}
/* keeps img from over growing */
.pic-2 {
    max-width: 200px;
    margin: 5px 10px;
    max-height: 136px;
}
/* sets hover effect to img */
.pic-2 a{
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
}
/* sets hover effect to img */
.pic-2:hover {
    color: #6284FF;
    box-shadow: 0 4px 8px black;
}
/* keeps img from over growing */
.pic-4 {
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
    margin: 5px 30px;
    
}
/* sets hover effect to img */
.pic-4 a{
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
}
/* sets hover effect to img */
.pic-4:hover {
    color: #6284FF;
    box-shadow: 0 4px 8px black;
}
/* keeps img from over growing */
.pic-3 {
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
    margin: 5px 10px;
}
/* sets hover effect to img */
.pic-3 a{
    min-width: 0;
    max-width: 200px;
    max-height: 136px;
}
/* sets hover effect to img */
.pic-3:hover {
    color: #6284FF;
    box-shadow: 0 4px 8px black;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px; 
    clear: both;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(62, 115, 133);
}